<div class="container">
  <!-- Left Section: Form -->
  <div class="form-section" *ngIf="!isFilterComplete">
    <p>Generate Video</p>

    <form (ngSubmit)="filterImages()" class="form-container">
      <!-- Start Date -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="startDate" name="startDate" required />
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>

      <!-- End Date -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="endDate" name="endDate" required />
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>

      <!-- Start Hour -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Start Hour (HH)</mat-label>
        <input 
          matInput
          type="number"
          min="0"
          max="23"
          [(ngModel)]="hour1"
          name="hour1"
          required
          (keydown)="preventManualInput($event)"
          (change)="onHour1Change(hour1)" 
        />
      </mat-form-field>

      <!-- End Hour -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>End Hour (HH)</mat-label>
        <input matInput type="number"
          [min]="hour1 + 1"
          max="23"
          [(ngModel)]="hour2"
          name="hour2"
          (keydown)="preventManualInput($event)"
          required />
      </mat-form-field>

      <!-- Resolution -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Resolution</mat-label>
        <mat-select [(ngModel)]="resolution" name="resolution" required>
          <mat-option value="720">720</mat-option>
          <mat-option value="HD">HD</mat-option>
          <mat-option value="4K">4K</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Duration -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Duration</mat-label>
        <mat-select [(ngModel)]="duration" name="duration" required>
          <mat-option *ngFor="let option of durationOptions" [value]="option.value">
            {{ option.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Checkboxes -->
      <div class="checkbox-container">
        <div class="checkbox-column">

          <mat-checkbox [(ngModel)]="showDate" (change)="onShowDateChange()" name="showDate">Show Date</mat-checkbox>

          <mat-checkbox [(ngModel)]="showText" name="addText" (change)="onShowTextChange()">Add Text</mat-checkbox>
          <div *ngIf="showText">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Text</mat-label>
              <input matInput [(ngModel)]="textOverlay" (ngModelChange)="onTextOverlayChange()" name="textOverlay" />
            </mat-form-field>
          </div>

          <mat-checkbox [(ngModel)]="showImage" name="showImage" (change)="onShowImageChange()">Add logo</mat-checkbox>
          <div *ngIf="showImage">
            <p>Upload logo</p>
            <input type="file" (change)="onImageUpload($event)" />
          </div>
        </div>

        <div class="checkbox-column">

          <mat-checkbox [(ngModel)]="showWatermark" name="addWatermark" (change)="onShowWatermarkChange()">Add Watermark</mat-checkbox>
          <div *ngIf="showWatermark">
            <p>Upload Watermark Image</p>
            <input type="file" (change)="onWatermarkImageUpload($event)" />

            <!-- Watermark Size Slider -->
            <div class="slider2">
              <label for="watermarkSize">Size</label>
              <input
                type="range"   id="watermarkSize"  name="watermarkSize"
                [(ngModel)]="watermarkSize"
                min="0.1"   max="2"    step="0.1"
                (input)="onWatermarkSettingsChange()"
              />
              <span>{{ watermarkSize }}</span>
            </div>

            <!-- Watermark Transparency Slider -->
            <div class="slider2">
              <label for="watermarkTransparency">Transparency</label>
              <input
                type="range"   id="watermarkTransparency"    name="watermarkTransparency"
                [(ngModel)]="watermarkTransparency"           
                min="0"   max="1"    step="0.1"
                (input)="onWatermarkSettingsChange()"
              />
              <span>{{ watermarkTransparency }}</span>
            </div>

          </div>
          <mat-checkbox [(ngModel)]="addMusic" name="addMusic">Add Background Music</mat-checkbox>

        </div>
      </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="isLoading">Filter Images</button>
    </form>     
  </div>

  <!-- Success Message -->
  <div class="success-message" *ngIf="isFilterComplete">
    <h3>Video Request Queued Successfully</h3>
    <p>Date From: {{ formatDate(startDate) }} To: {{ formatDate(endDate) }}</p>
    <p>Hours: {{ hour1 }} - {{ hour2 }}</p>
    <p>Resolution: {{ resolution }}</p>
    <p>Video Length: {{ duration }} seconds</p>
    <p>No. of Pictures Filtered: {{ filteredPicsCount }}</p>
    <p>Estimated Time to Generate: {{ (filteredPicsCount/ 60).toFixed(2) }} minutes</p>
    <p>Check on the gallery/video request to see the video.</p>
  </div>

  <!-- Right Section: Preview Pane -->
  <div class="preview-section">
    <h2>Preview</h2>
    <canvas #canvas *ngIf="previewPHoto" class="image-preview"></canvas>
     <p *ngIf="!previewPHoto">No preview available.</p>

      <!-- Sliders for Visual Effects -->
  <div *ngIf="previewPHoto" class="slider-controls">
    <!-- Brightness -->
    <div class="slider">
      <label for="brightness">Brightness</label>
      <input
        type="range"
        id="brightness"
        [(ngModel)]="brightness"
        name="brightness"
        min="-1"
        max="1"
        step="0.1"
        (input)="onEffectChange()"
      />
      <span>{{ brightness }}</span>
    </div>

    <!-- Contrast -->
    <div class="slider">
      <label for="contrast">Contrast</label>
      <input
        type="range"
        id="contrast"
        [(ngModel)]="contrast"
        name="contrast"
        min="0"
        max="3"
        step="0.1"
        (input)="onEffectChange()"
      />
      <span>{{ contrast }}</span>
    </div>

    <!-- Saturation -->
    <div class="slider">
      <label for="saturation">Saturation</label>
      <input
        type="range"
        id="saturation"
        [(ngModel)]="saturation"
        name="saturation"
        min="0"
        max="3"
        step="0.1"
        (input)="onEffectChange()"
      />
      <span>{{ saturation }}</span>
    </div>
  </div>
</div>
