<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="breadcrumbs">
    <ng-container *ngFor="let crumb of breadcrumbs; let isLast = last">
      <a *ngIf="!isLast" [routerLink]="crumb.url">{{ crumb.label }}</a>
      <span *ngIf="isLast">{{ crumb.label }}</span>
      <ng-container *ngIf="!isLast"> / </ng-container>
    </ng-container>
  </div>

  <span class="spacer"></span>

  <div class="user-info">
    <span>Welcome, {{username}}</span>
    <mat-icon>account_circle</mat-icon>
    <button mat-button (click)="logout()">Logout</button>
  </div>
</mat-toolbar>
