.breadcrumbs {
  flex: 1;
  font-size: 14px;
  color: white;
}

.spacer {
  flex: 1;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

mat-toolbar {
  width: 100%;
  z-index: 1000;
}
