.spacer {
  flex: 1;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

mat-toolbar {
  width: 100%;
  z-index: 1000;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  font-size: 14px; /* Adjust size as needed */
  color: white; /* Make text white */
}

.breadcrumbs a {
  text-decoration: none; /* Remove underline */
  color: white; /* Make links white */
  font-weight: bold;
}

.breadcrumbs a:hover {
  text-decoration: underline; /* Add underline on hover for better UX */
}

.breadcrumbs span {
  color: white; /* Make the last breadcrumb white */
  font-weight: bold;
}

.breadcrumbs ng-container {
  display: inline;
}

.breadcrumbs ng-container:not(:last-child)::after {
  content: " / "; /* Separator between breadcrumbs */
  margin: 0 5px; /* Add spacing */
  color: white; /* Separator color */
}
