<button class="back-button" (click)="goBack()">← Back to Services</button>

<div class="home-layout">
  <div class="content">

    <mat-tab-group (selectedTabChange)="onTabChange($event.index)">
      <mat-tab label="List of Cameras">
        <div *ngIf="loading">
          <p>Loading cameras...</p>
        </div>

        <div *ngIf="!loading && cameras.length > 0" class="cameras-container">
          <mat-card class="cameras-card" *ngFor="let camera of cameras" (click)="viewCameraDetails(camera)">
            <img mat-card-image [src]="getPictureUrl(camera.path, camera.lastPhoto)" alt="Last Photo"/>          
            <mat-card-title>{{ camera.cameraDescription }}</mat-card-title>          
            <mat-card-content>
              <p><strong>First Photo Date:</strong> {{ formatTimestamp(camera.firstPhoto) }}</p>
              <p><strong>Last Photo Date:</strong> {{ formatTimestamp(camera.lastPhoto) }}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>View Camera Details</button>
            </mat-card-actions>
          </mat-card>
        </div>

        <div *ngIf="!loading && cameras.length === 0">
          <p>No cameras found for this project.</p>
        </div>
      </mat-tab>

      <mat-tab label="Cameras in map">
        <div *ngIf="loading">
          <p>Loading cameras...</p>
        </div>
        <div *ngIf="!loading && cameras.length > 0">
            <app-camera-map></app-camera-map>
        </div>
      </mat-tab>

      <mat-tab label="Cameras Slideshow">
        <div *ngIf="loading">
          <p>Loading cameras...</p>
        </div>
        <div *ngIf="!loading && cameras.length > 0">
             <app-camera-view></app-camera-view>
        </div>
      </mat-tab>
    
    
    </mat-tab-group>  


  </div>
</div>
