.main-container {
  height: 100vh;
  display: flex;
  background-image: url(../assets/effect-ondark.png);
  background-repeat: no-repeat;
}


.logo-container {
  text-align: center;
  padding: 16px;
}

.logo {
  max-width: 100px;
  height: auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content {
  padding: 16px;
  flex-grow: 1;
}

mat-sidenav {
  width: 250px;
  background-color: rgba(0, 0, 0, 0);
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
