<!-- Full-width slider for comparing two selected pictures -->
<div class="compare-slider-container">
  <div class="image-comparison">  
    <img 
        *ngIf="!loadingLeft"
        [src]="selectedDate1Picture" 
        class="side-by-side" 
        (load)="onImageLoad('left')"
        (error)="onImageError('left')"
        [style.display]="loadingLeft ? 'none' : 'block'"
      />
        
    <img *ngIf="!loadingRight"
          [src]="selectedDate2Picture"
          class="side-by-side"
          (load)="onImageLoad('right')"
          (error)="onImageError('right')"
          [style.display]="loadingRight ? 'none' : 'block'"
          />
  
      <div *ngIf="loadingLeft || loadingRight" class="spinner-container">
        <p>Loading...</p>
      </div>

    </div>
  
  
    
  </div>
  
  <div class="compare-layout">
    <div class="date1-section">
      <app-compare-datepicker
        [dateInputValue]="date1InputValue"
        [pictures]="date1Pictures"
        [selectedThumbnail]="selectedDate1Thumbnail"
        [path]="path"
        (dateChange)="onDate1Change($event)"
        (pictureSelect)="onDate1PictureSelect($event)">
      </app-compare-datepicker>
    </div>


    <!-- Right-side for date2 thumbnails -->
    <div class="date1-section">
      <app-compare-datepicker
        [dateInputValue]="date2InputValue"
        [pictures]="date2Pictures"
        [selectedThumbnail]="selectedDate2Thumbnail"
        [path] = "path"
        (dateChange)="onDate2Change($event)"
        (pictureSelect)="onDate2PictureSelect($event)">
      </app-compare-datepicker>
    </div>
  </div>