.login-page {
  display: flex;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: #333;
}

.video-container {
  position: relative;
  width: 66.66%; /* Two-thirds width */
  height: 100%;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent overlay */
}

.login-card {
  width: 33.33%; /* One-third width */
  max-width: 400px;
  margin: 50px;
  background: black;
  color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  border: 2px solid #333;
  text-align: center;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  max-width: 33%; /* One-third of the login card's width */
  height: auto;
}

/* Form styling */
.login-form {
  margin-top: 15px;
  width: 100%;
}

.form-group {
  margin-bottom: 5px;
  text-align: left;
}

label {
  font-weight: bold;
  font-size: 0.9rem;
  color: white;
}

.login-title {
  font-size: 1.5rem; /* Reduce font size to half of the original */
  font-weight: bold;
  margin: 0;
}

.form-control {
  width: 90%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9rem;
  background: black;
  color: white;
  transition: border 0.3s ease;
}

.form-control:focus {
  border-color: red;
  outline: none;
}

/* Button styling */
.btn-login {
  width: 50%;
  margin-top: 15px;
  padding: 15px 0;
  background: red;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-login:disabled {
  background: #444;
  cursor: not-allowed;
}

.btn-login:hover {
  background: darkred;
}

/* Error message */
.error-message {
  color: red;
  font-size: 0.85rem;
  margin-top: 10px;
}

/* Tab styles */
.mat-tab-group {
  margin-top: 20px;
  background: black;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.mat-tab-label {
  color: #ccc;
  font-weight: bold;
}

.mat-tab-label-active {
  color: white;
  background: red;
  border-radius: 5px 5px 0 0;
}

.mat-tab-body-wrapper {
  padding: 10px 0;
}

.mat-tab-body {
  padding: 20px;
  color: white;
  font-size: 0.9rem;
  background: black;
  border-radius: 0 0 5px 5px;
}

