<div class="studio-container">
    <div class="toolbar">
        <button (click)="selectTool('text')" [ngClass]="{ active: currentTool === 'text' }">
            Text
        </button>
        <button (click)="selectTool('rectangle')" [ngClass]="{ active: currentTool === 'rectangle' }">
            Rectangle
        </button>
        <button (click)="selectTool('circle')" [ngClass]="{ active: currentTool === 'circle' }">
            Circle
        </button>
        <button (click)="selectTool('arrow')" [ngClass]="{ active: currentTool === 'arrow' }">
            Arrow
        </button>
        <button (click)="selectTool('effect')" [ngClass]="{ active: currentTool === 'effect' }">
            Effect
        </button>
    </div>
  
    <div class="canvas-area">
        <canvas
        #canvas
        (click)="onCanvasClick($event)"
        (mousedown)="onCanvasMouseDown($event)"
        (mousemove)="onCanvasMouseMove($event)"
        (mouseup)="onCanvasMouseUp()"
    ></canvas>  
      
        <div
            *ngIf="currentTool === 'text' && fontControllerPosition"
            class="text-controls"
            [ngStyle]="{
                top: fontControllerPosition.y + 'px',
                left: fontControllerPosition.x + 'px'
            }"
            >
            <label>Text:
                <input type="text" [(ngModel)]="textValue" (input)="updateText()" />
            </label>
            <label>Font Size:
                <input type="number" [(ngModel)]="fontSize" (input)="updateText()" />
            </label>
            <label>Color:
                <input type="color" [(ngModel)]="fontColor" (input)="updateText()" />
            </label>           
            <button (click)="removeText()" class="remove-button">
                <mat-icon>delete</mat-icon>
              </button>
        </div>

        <div *ngIf="shapeControllerPosition && (currentTool === 'circle' || currentTool === 'rectangle')"
            class="shape-controller"
            [ngStyle]="{
                top: shapeControllerPosition.y + 'px',
                left: shapeControllerPosition.x + 'px'
            }"
            >
            <label>
              Fill:
              <input type="color" [(ngModel)]="currentShape.fillColor" (ngModelChange)="updateShape()" />
            </label>
            <label>
              Border:
              <input type="color" [(ngModel)]="currentShape.borderColor" (ngModelChange)="updateShape()" />
            </label>
            <label>
              Border Width:
              <input type="number" [(ngModel)]="currentShape.borderWidth" (ngModelChange)="updateShape()" min="0" />
            </label>
            <button (click)="deleteShape()" class="delete-button">
              <mat-icon>delete</mat-icon>
            </button>
            <button (click)="toggleShapeMove()" class="delete-button" [class.active]="isMoving">
               <mat-icon>open_with</mat-icon>
            </button>
          </div>


        <div *ngIf="selectedShapeIndex !== null && shapes[selectedShapeIndex]?.type === 'arrow'" 
            [ngStyle]="{ position: 'absolute', top: shapeControllerPosition?.y + 'px', left: shapeControllerPosition?.x + 'px' }">
            <button (click)="deleteShape()">Delete</button>
            <input type="color" [(ngModel)]="shapes[selectedShapeIndex].color" />
            <input type="range" min="1" max="10" [(ngModel)]="shapes[selectedShapeIndex].lineWidth" />
        </div>
          
     
    </div>
  </div>
  