<!-- Full-width slider for comparing two selected pictures -->
<div class="compare-slider-container">
  
  <img 
      *ngIf="!loadingLeft"
      [src]="selectedDate1Picture" 
      class="compare-slider-img left-img large-picture" 
      (load)="onImageLoad('left')"
      (error)="onImageError('left')"
      [style.display]="loadingLeft ? 'none' : 'block'"
    />
      
  <img *ngIf="!loadingRight"
        [src]="selectedDate2Picture"
        class="compare-slider-img right-img large-picture"
        (load)="onImageLoad('right')"
        (error)="onImageError('right')"
        [style.display]="loadingRight ? 'none' : 'block'"
        />

    <div *ngIf="loadingLeft || loadingRight" class="spinner-container">
      <p>Loading...</p>
    </div>
 
  <div class="slider-overlay">
    <div class="custom-slider">
      <div class="slider-track"></div>
      <div
        class="slider-thumb"
        [style.left.%]="sliderPosition"
        tabindex="0"
        (keydown)="onThumbKeydown($event)"
        (mousedown)="onThumbDragStart($event)"
      >
        <div class="thumb-content">
          <span class="material-icons">chevron_left</span>
          <span class="material-icons">chevron_right</span>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="compare-layout">
  <!-- Left-side for date1 thumbnails -->
  <div class="date1-section">
    <app-compare-datepicker
    [dateInputValue]="date1InputValue"
    [pictures]="date1Pictures"
    [selectedThumbnail]="selectedDate1Thumbnail"
    [path] = "path"
    (dateChange)="onDate1Change($event)"
    (pictureSelect)="onDate1PictureSelect($event)">
    
    >      
    </app-compare-datepicker>
  </div>

  <!-- Right-side for date2 thumbnails -->
  <div class="date2-section">
     <app-compare-datepicker
     [dateInputValue]="date2InputValue"
     [pictures]="date2Pictures"
     [selectedThumbnail]="selectedDate2Thumbnail"
     [path] = "path"
     (dateChange)="onDate2Change($event)"
     (pictureSelect)="onDate2PictureSelect($event)">
     >      
     </app-compare-datepicker>
  </div>
</div>