.grid-container {
    padding: 20px;
  }
  
  .service-card {
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: #282626;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .service-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .service-icon {
    font-size: 100px;
    text-align: center;
    width:100%;
    height: 100%;
    color: #e80a0a;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  
  mat-card-title {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 20px;
  }
  