<div class="user-container">
    
    <div style="margin: 50px 0">
      <input class='search' matInput [(ngModel)]="searchTerm" (input)="onSearch()" placeholder="Search by name, email, or role">
    </div>

    <!-- Role Filter
    <mat-form-field appearance="outline">
      <mat-label>Filter by Role</mat-label>
      <mat-select [(ngModel)]="selectedRole" (selectionChange)="onRoleChange()">
        <mat-option value="">All</mat-option>
        <mat-option value="Super Admin">Super Admin</mat-option>
        <mat-option value="Admin">Admin</mat-option>
        <mat-option value="User">User</mat-option>
      </mat-select>
    </mat-form-field> -->

    <!-- Developer Filter -->
    <mat-form-field appearance="outline">
      <mat-label>Filter by Developer</mat-label>
      <mat-select [(ngModel)]="selectedDeveloperId" (selectionChange)="onDeveloperChange()">
        <mat-option *ngFor="let developer of developers" [value]="developer._id">
          {{ developer.developerName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Project Filter -->
    <mat-form-field appearance="outline" *ngIf="projects.length">
      <mat-label>Filter by Project</mat-label>
      <mat-select [(ngModel)]="selectedProjectId" (selectionChange)="onProjectChange()">
        <mat-option *ngFor="let project of projects" [value]="project._id">
          {{ project.projectName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Camera Filter -->
    <mat-form-field appearance="outline" *ngIf="cameras.length">
      <mat-label>Filter by Camera</mat-label>
      <mat-select [(ngModel)]="selectedCameraId" (selectionChange)="filterUsersByAccess()">
        <mat-option *ngFor="let camera of cameras" [value]="camera._id">
          {{ camera.cameraDescription }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  
    <button class="add-new-button" mat-raised-button style="color: white; background-color: brown;" (click)="openAddUser()">Add New User</button>
  
    <!-- Loading Spinner -->
    <div *ngIf="isLoading" class="spinner-container">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
  
    <!-- User Table -->
    <table mat-table [dataSource]="filteredUsers" class="mat-elevation-z8" *ngIf="!isLoading && filteredUsers.length">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let user"> {{ user.name }} </td>
      </ng-container>
  
      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let user"> {{ user.email }} </td>
      </ng-container>
  
      <!-- Role Column -->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let user"> {{ user.role }} </td>
      </ng-container>
  
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let user">
          <button mat-icon-button color="primary" (click)="openEditUser(user._id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteUser(user._id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="['name', 'email', 'role', 'actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name', 'email', 'role', 'actions'];"></tr>
    </table>
  </div>
  