.user-container {
    padding: 16px;
  }
  
  .mat-form-field {
    width: 300px;
    margin-right: 16px;
  }
  
  .spinner-container {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .mat-elevation-z8 {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .add-new-button {
    font-weight: bold;
    background-color: #4caf50; /* Green for Add Button */
    color: white;
    padding: 8px 16px;
    margin-left: 20px;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
  }
  
  .add-new-button:hover {
    background-color: #388e3c;
  }
  
  button.mat-icon-button {
    transition: transform 0.2s;
  }
  
  button.mat-icon-button:hover {
    transform: scale(1.1);
  }
  
  .search {
    width: 30%;
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: 1px solid gray;
  }