<button (click)="goBack()" class="back-button">← Back to camera</button>  <!-- Back Button -->

<!-- Navigation Menu -->
<mat-toolbar class="camera-detail-toolbar">
  <button mat-button [ngClass]="{ 'active': mode === 'single' }" (click)="setMode('single')">
    <mat-icon>visibility</mat-icon> Single View
  </button>
  <button mat-button [ngClass]="{ 'active': mode === 'zoom' }" (click)="setMode('zoom')">
    <mat-icon>zoom_in</mat-icon> Zoom
  </button>
  <button mat-button [ngClass]="{ 'active': mode === 'compare' }" (click)="setMode('compare')">
    <mat-icon>compare_arrows</mat-icon> Compare
  </button>
  <button mat-button [ngClass]="{ 'active': mode === 'generate-video' }" (click)="setMode('generate-video')">
    <mat-icon>movie</mat-icon> Generate Video
  </button>
  <button mat-button [ngClass]="{ 'active': mode === 'generate-photo' }" (click)="generatePhoto()">
    <mat-icon>photo_camera</mat-icon> Generate Photo
  </button>  
</mat-toolbar>

<!-- Secondary toolbar for Compare mode -->
<mat-toolbar *ngIf="mode === 'compare'" class="compare-toolbar">
  <button mat-button [ngClass]="{ 'active': compareView === 'sideBySide' }" (click)="setCompareView('sideBySide')">
    <mat-icon>view_compact</mat-icon> Side by Side
  </button>
  <button mat-button [ngClass]="{ 'active': compareView === 'slider' }" (click)="setCompareView('slider')">
    <mat-icon>compare</mat-icon> Slider
  </button>
  <button mat-button [ngClass]="{ 'active': compareView === 'magnify' }" (click)="setCompareView('magnify')">
    <mat-icon>zoom_in</mat-icon> Spot
  </button>
</mat-toolbar>

<mat-toolbar *ngIf="mode === 'zoom'" class="compare-toolbar">
  <button mat-button [ngClass]="{ 'active': zoomView === 'lens' }" (click)="setZoomView('lens')">
    <mat-icon>view_compact</mat-icon> Magnify
  </button>
  <button mat-button [ngClass]="{ 'active': zoomView === 'pan' }" (click)="setZoomView('pan')">
    <mat-icon>compare</mat-icon> Pan
  </button>
</mat-toolbar>

<div class="home-layout">
    <div *ngIf="compareView === 'sideBySide' && mode === 'compare'" class="compare-container">
      <app-camera-compare-side
          [projectId]="projectId"
          [cameraName]="cameraName">
      </app-camera-compare-side>
    </div>
      
    <div *ngIf="compareView === 'slider' && mode === 'compare'" class="compare-container">
      <app-camera-compare
          [projectId]="projectId"
          [cameraName]="cameraName">
      </app-camera-compare>
    </div>

    <div *ngIf="compareView === 'magnify' && mode === 'compare'" class="compare-container">
      <app-camera-compare-magnify
          [projectId]="projectId"
          [cameraName]="cameraName">
      </app-camera-compare-magnify>
    </div>

    <div *ngIf="mode === 'generate-video'">
      <app-generate-video [cameraName]="cameraName"></app-generate-video>
    </div>    

    <div *ngIf="mode === 'single'" class="date-time-toggle">
      <label>
        <input type="checkbox" [(ngModel)]="showDateTime" /> Show Date and Time
      </label>
      <label>
        <!-- <input type="checkbox" [(ngModel)]="showWeather" /> Show Date and Time -->
      </label>
    </div>

  <!-- Rest of camera-detail content -->
    <div *ngIf="mode === 'single' || mode === 'zoom'">  
      <div class="content">
          <!-- Show a loading spinner if the large picture is still loading -->
        <div *ngIf="loadingLargePicture" class="spinner">
          <p>Loading...</p> <!-- Replace with your spinner design -->
        </div>

        <div class="single" *ngIf="mode === 'single'">               
          <!-- Large picture (lazy loading with error handling) -->
          <div *ngIf="showDateTime" class="date-time-label">
            {{ formatTimestamp(selectedThumbnail) }}
          </div>
          <img 
            *ngIf="selectedPictureUrl"
            [src]="selectedPictureUrl" 
            alt="Selected Picture" 
            class="large-picture"
            (load)="onLargePictureLoad()" 
            (error)="onLargePictureError()" />             
        </div>

        <div *ngIf="mode === 'zoom'">
          <app-camera-zoom
            [selectedPictureUrl]="selectedPictureUrl"
            [zoomView]="zoomView"
          ></app-camera-zoom>
        </div>

        <!-- Date selector -->
        <div class="date-selector">
          <mat-form-field>
            <mat-label>Photo Date:</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (dateChange)="onDateChange($event)" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <button mat-icon-button>
            <mat-icon>share</mat-icon> Share X
          </button>
        </div>

        <!-- Thumbnail strip -->
        <div class="thumbnail-strip">
          <div *ngFor="let picture of date2Pictures" 
            class="thumbnail" 
            [class.selected]="picture === selectedThumbnail"> <!-- Highlight the selected thumbnail -->
            <img [src]="getThumbPictureUrl(picture)" 
              (click)="onThumbnailClick(picture)" 
              alt="Thumbnail" 
              class="thumbnail-img" />

            <div class="thumbnail-overlay">
              <p>{{ formatTimestamp(picture) }}</p> <!-- Display the formatted date and time -->
            </div>
          </div>      
        </div>

      </div>
    </div>
    
</div>
