/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');


html, body { height: 100%; }

/* Global font size */

  body {
    margin: 0;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 0.7rem !important; */
  }

  .mat-body-large, .mat-typography .mat-body-large, .mat-typography {
    font: 200 0.5rem / 0.75rem 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }


  html {
  --mdc-tab-indicator-active-indicator-color: #9b0606;
    --mdc-tab-indicator-active-indicator-height: 2px;
    --mdc-tab-indicator-active-indicator-shape: 0;
    --mat-tab-header-divider-color: #4e444b;
    --mat-tab-header-pagination-icon-color: #e9e0e4;
    --mat-tab-header-inactive-label-text-color: #e9e0e4;
    --mat-tab-header-active-label-text-color: #e9e0e4;
    --mat-tab-header-active-ripple-color: #e9e0e4;
    --mat-tab-header-inactive-ripple-color: #e9e0e4;
    --mat-tab-header-inactive-focus-label-text-color: #e9e0e4;
    --mat-tab-header-inactive-hover-label-text-color: #e9e0e4;
    --mat-tab-header-active-focus-label-text-color: #e9e0e4;
    --mat-tab-header-active-hover-label-text-color: #e9e0e4;
    --mat-tab-header-active-focus-indicator-color: #9b0606;
    --mat-tab-header-active-hover-indicator-color: #a10e0e;
    --mat-tab-header-label-text-font: Roboto, sans-serif;
    --mat-tab-header-label-text-size: 0.875rem;
    --mat-tab-header-label-text-tracking: 0.006rem;
    --mat-tab-header-label-text-line-height: 1.25rem;
    --mat-tab-header-label-text-weight: 500;
    --mat-tab-header-divider-height: 1px;
  }



  mat-toolbar,
  mat-sidenav,
  mat-nav-list,
  mat-card,
  button {
    font-size: 10px !important;  /* Ensure consistency for Material components */
  }

  .custom-dialog-container {
    border: 2px solid #3f51b5;
    border-radius: 8px;
    padding: 16px;
    background-color: #060000; /* Background color of the dialog */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow for elevation */
  }
  
