<div *ngFor="let developer of groupedCameras | keyvalue" class="developer-section">
    <h2>{{ developer.key }}</h2>
    <div *ngFor="let project of developer.value | keyvalue" class="project-section">
      <h3>{{ project.key }}</h3>
      <div class="camera-grid">
        <div *ngFor="let camera of project.value" class="camera-card">
          <img [src]="getImagePath(camera)" alt="Camera Image" class="camera-image" />
          <div [ngClass]="{'updated': isUpdated(camera.lastPhotoTime), 'not-updated': !isUpdated(camera.lastPhoto)}" class="camera-info">
            <p>{{ camera.cameraName }} ({{ camera.serverFolder }})</p>
            <p>{{ formatTimeDifference(camera.lastPhoto) }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  